<div class="section">
  <div class="section-heading">About</div>
  <div class="section-content">
   
    <div class="about-info">
      <div class="about-section">
        <h2>About</h2>
        <ul class="about-list">
          <li><span>- Front End Developer with 2+ years of experience</span></li>
          <li><span>- Worked with Software Development Life Cycle(SDLC) and agile methodologies</span></li>
          <li><span>- Expertise in Angular, Typescript, UI with Responsive Designs</span></li>
          <li><span>- Have good understanding of Git, Linux, and Windows OS</span></li>
        </ul>
      </div>
    
      <div class="basic-info-section">
        <h2>Basic Information</h2>
        <div class="basic-info">
          <span><strong>Date of Birth:</strong> March 08, 2000</span>
          <span><strong>Email:</strong> chinmaygaikawadofficial&#64;gmail.com</span>
          <span><strong>Phone:</strong> +91 9284771421</span>
          <span><strong>Address:</strong> A/P. Kasarde (near P.H.C.), Tal: Kankavali, Dist: Sindhudurg, Maharashtra, 416801</span>
          <span><strong>Language:</strong> English, Marathi, Hindi</span>
        </div>
      </div>
    </div>
    



  </div>
</div>

