<div class="section">
  <div class="section-heading">Home</div>
  <div class="section-content">



    <div class="home-page">
      <div class="info-section">
        <div class="info-content">
          <div class="name-role">
            <span class="name highlight">Chinmay</span>
            <span class="surname highlight">Gaikawad</span>
          </div>
          <div class="name-role">
            <span class="role">FRONT END ANGULAR DEVELOPER</span>
          </div>
    
          <div class="contact">
            <button class="btn" (click)="scrollTo?.emit('CONTACT')">Contact Me</button>
            <div class="contact-details">
              <span class="contact-item">Phone: +91 9284771421</span>
              <span class="contact-item">Email: chinmaygaikawadofficial&#64;gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    
      <div class="image-section">
        <img src="../../../assets/Images/Photoroom-20241215_200612.png" alt="Chinmay">
      </div>
    </div>
    
    

  </div>
</div>

