<div class="skills-container">
  <div class="bubble">
    <svg class="circle-border" viewBox="0 0 120 120">
      <circle cx="60" cy="60" r="50" class="background-circle"></circle>
      <circle cx="60" cy="60" r="50" class="proficiency-circle"
        style="stroke-dasharray: 314.16; stroke-dashoffset: 62.83;"></circle>
    </svg>
    <img src="../../assets/Images/angular-svgrepo-com.svg" alt="TypeScript" class="skill-logo">
    <div class="tooltip">
      <span class="tooltip-text">TypeScript</span>
    </div>
    <div class="percentage-center">80%</div>
  </div>

  <div class="bubble">
    <svg class="circle-border" viewBox="0 0 120 120">
      <circle cx="60" cy="60" r="50" class="background-circle"></circle>
      <circle cx="60" cy="60" r="50" class="proficiency-circle"
        style="stroke-dasharray: 314.16; stroke-dashoffset: 94.25;"></circle>
    </svg>
    <img src="../../assets/Images/python-svgrepo-com.svg" alt="Python" class="skill-logo">
    <div class="tooltip">
      <span class="tooltip-text">Python</span>
    </div>
    <div class="percentage-center">70%</div>
  </div>

  <div class="bubble">
    <svg class="circle-border" viewBox="0 0 120 120">
      <circle cx="60" cy="60" r="50" class="background-circle"></circle>
      <circle cx="60" cy="60" r="50" class="proficiency-circle"
        style="stroke-dasharray: 314.16; stroke-dashoffset: 47.13;"></circle>
    </svg>
    <img src="../../assets/Images/html-5-svgrepo-com.svg" alt="HTML" class="skill-logo">
    <div class="tooltip">
      <span class="tooltip-text">HTML</span>
    </div>
    <div class="percentage-center">85%</div>
  </div>

  <div class="bubble">
    <svg class="circle-border" viewBox="0 0 120 120">
      <circle cx="60" cy="60" r="50" class="background-circle"></circle>
      <circle cx="60" cy="60" r="50" class="proficiency-circle"
        style="stroke-dasharray: 314.16; stroke-dashoffset: 62.83;"></circle>
    </svg>
    <img src="../../assets/Images/css3-svgrepo-com.svg" alt="CSS" class="skill-logo">
    <div class="tooltip">
      <span class="tooltip-text">CSS</span>
    </div>
    <div class="percentage-center">80%</div>
  </div>
</div>