<div class="section">
  <div class="section-heading">Skills</div>
  <div class="section-content">

    <div class="skills-container">
      <div *ngFor="let group of getKeys(SKILLS_INFO)" class="card">
        <h3 class="card-title">{{ SKILLS_INFO[group].display }}</h3>
        <div class="bubble-container">
          <div
            *ngFor="let skill of SKILLS_INFO[group].value"
            class="bubble"
         

            
          >

   
            <img [src]="skill.logo" [alt]="skill.title" />
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




