



@import '../../../style.scss'; // Importing root-level styles




:root {
  --primary-color: #00b4d8;
  --secondary-color: #0077b6;
  --background-color: #e9ecef;
  --text-color: $base-palette-6-color-1;
  --card-light: #e5e5e5; /* Lighter shade for the card */
  --bubble-background: #ffffff; /* White bubble background */
  --bubble-border: #dee2e6; /* Light gray bubble border */
  --hover-color: #0e6ba8;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: var(--background-color);
}

.card {
  background-color: $base-color-dark-4;
  color: $base-palette-7-color-4;
  border-radius: 12px;
  padding: 15px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
  margin: 0 0 15px;
  font-size: 1.5rem;
  color: $base-palette-7-color-4;
  text-align: center;
}

.bubble-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.bubble {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: $base-palette-1-color-1;
  border: 2px solid $base-palette-5-color-3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.bubble:hover {
  transform: scale(1.1);
  background-color: $base-palette-1-color-1;
  border-color: $base-palette-5-color-3;
}

.bubble img {
  width: 50%;
  height: auto;
}

.bubble .proficiency {
  position: absolute;
  bottom: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 0.8rem;
  padding: 2px 5px;
  border-radius: 5px;
}

.mat-tooltip {
  background-color: $base-palette-5-color-3 !important;
  color: var(--background-color) !important;
  font-size: 0.9rem !important;
}
