// background colors
$background-primary: #001524;

// text colors
$text-primary: #ffffff;
$text-secondary: #e5e5e5;
$text-secondary-hover: #edede9;
$text-primary-highlight: #ffffff;

// colors
$nav-border-selected: #00b4d8;
$nav-border-hover: #0077b6;